* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


li,
a,
button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 500;
  font-size: 20px;
  color: #562F00;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  background-color: #FFFDF1;
  border-bottom: 2px solid #FFCE99;
}

.logo {
  cursor: pointer;
  width: 50px;
  height: auto;
  fill: #FF9644;
}

.navbar li {
  display: inline-block;
  padding: 0px 20px;
}

.navbar li a {
  transition: all 0.3s ease 0s;
}

.navbar li a:hover {
  color: #7e4602;
}

button {
  padding: 9px 25px;
  background-color: #562F00;
  color: #FFFDF1;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: #8d4f02;

}

/*the hero section starts here*/
.hero-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-photo {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

.hero-text {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  color: #FFFDF1;
  max-width: 400px;
}