<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <!--Logo-->
        <img class='logo' src="/dogandcat.jpg" alt="logo">

        <!--navigation bar-->
        <nav class="navbar">
            <a class="navbar-brand" href="/">
                <img src="/img/favicon.ico" alt="Ivory Orchid" width="32" height="32">
                Ivory Orchid
            </a>
            <ul>
                <li><a href="/index.html">Home</a></li>
                <li><a href="/pets.html">Pets</a></li>
                <li><a href="/shelters.html">Shelters</a></li>
                <li><a href="/adopt.html">Adopt</a></li>
                <li><a href="/about.html">About us</a></li>
                <li><a href="/contact.html">Contact us</a></li>
            </ul>
        </nav>
        <a class="cta" href="/adopt.html"><button>Adopt Now</button></a> <!--removed space-->
    </header>
    {% block content %}{% endblock %}
</body>
</html>