{% extends 'base.html' %}

{% block title %} Ivory Orchid Pets {% endblock %}

{% block content %}
    <!--hero-->
    <div class="hero-image"> <!--we should come up with an eye catching style for this-->
        <img src="img/pexels-yuliya-kazantseva-75706410-8570243.jpg" alt="Dog and cat" class="hero-photo">
        <div class="hero-text">
            <h1>Ivory Orchid</h1>
            <p>Every pet deserves a home.</p>
            <button href="adopt.html">Adopt a Pet!</button>
            <!--maybe adding a background image would be nice??-->
        </div>
    </div>

    <!--all JavaScript goes in index.js!-->
    <script src="index.js"></script>

{% endblock %}