name: Test backend

on:
  push:
  pull_request:
    branches: [main]

jobs:
  test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Setup enviroment
        run: scripts/install

      - name: Run tests
        run: scripts/test

      - name: Upload report
        uses: actions/upload-artifact@v2
        with:
          name: coverage-report
          path: backend/htmlcov/*
