name: Test backend

on:
  push:
    branches: [main]
  pull_request:

jobs:
  test:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Set up Python 3.13
        uses: actions/setup-python@v6
        with:
          python-version: "3.13"

      - name: Make scripts executable
        run: chmod +x scripts/*

      - name: Setup environment
        run: scripts/install

      - name: Run tests
        run: scripts/test

      - name: Upload report
        uses: actions/upload-artifact@v6
        with:
          name: coverage-report
          path: backend/htmlcov/*
